@font-face {
font-family: 'Averta';
font-style: normal;
font-weight: normal;
src: local('Averta'), url('./../fonts/averta/AvertaStandard-Regular.woff') format('woff');
}
@font-face {
font-family: 'Averta';
font-style: normal;
font-weight: bold;
src: local('Averta'), url('./../fonts/averta/bold.woff') format('woff');
}

@font-face {
font-family: 'Averta';
font-style: normal;
font-weight: 900;
src: local('Averta'), url('./../fonts/averta/extrabold.woff') format('woff');
}
@font-face {
font-family: 'Averta';
font-style: normal;
font-weight: 100;
src: local('Averta'), url('./../fonts/averta/extrathin.woff') format('woff');
}
@font-face {
font-family: 'Averta';
font-style: normal;
font-weight: 200;
src: local('Averta'), url('./../fonts/averta/thin.woff') format('woff');
}
@font-face {
font-family: 'Averta';
font-style: normal;
font-weight: 300;
src: local('Averta'), url('./../fonts/averta/light.woff') format('woff');
}
@font-face {
font-family: 'Averta';
font-style: normal;
font-weight: lighter;
src: local('Averta'), url('./../fonts/averta/light.woff') format('woff');
}
@font-face {
font-family: 'Averta';
font-style: normal;
font-weight: 600;
src: local('Averta'), url('./../fonts/averta/semibold.woff') format('woff');
}
@font-face {
font-family: 'Averta';
font-style: normal;
font-weight: 400;
src: local('Averta'), url('./../fonts/averta/regular.woff') format('woff');
}
.breadcrumb {
    background-color: transparent;
    font-size: 13px;
    font-family: 'Averta';
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: transparent;
    border-radius: 4px;
}
.breadcrumb > li {
    display: inline-block;
}
.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}
a {
    text-decoration: none;
    color: #0085DE;
}
.separator{
	margin: 10px 0px;
}
.header-logo{
	margin: 15px;
	max-width: 240px;
	width: 100%;


}

.btn {
    display: inline-block;
    padding: 9px 12px;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.content p {
    color: #555555;
    font-size: 17px;
    line-height: 30px;
    margin: 30px 0px;
    font-weight: 400;
    font-family: 'Averta';
}
.btn-primary {
    border: 2px solid #005F9E;
    background-color: #0085DE;
    text-transform: uppercase;

    border-radius: 6px;
    font-family: 'Averta';
}
.contact-text {
    font-weight: 400;
}
.content {
    max-width: 490px;
}
.content.hero-content{
  max-width: 100%;
    margin-right: 15px;
}
.top-content{
      margin: 0px 54px;
}
.flex-content{
  display: flex;
}
.flex-row{
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  flex-wrap: wrap;
}
.flex-content main{
  flex: 1
}
.gray-bg {
    background-color: #e7e8ea;
}
.banner-container{
  max-width: 520px
}
.slider .owl-dots .owl-dot span {
    background: #ffffff;
}
.slider .owl-dots .owl-dot.active span {
    background: #eaa443;
}
.slider .owl-dots {
    position: absolute;
    z-index: 100;
    bottom: 14px;
    left: 50%;
    margin: 0 auto;
    margin-left: -48px;
    display: flex;
}
.slider .slider-item img{
  width: 100%
}
.stats-container{
  background: #3e4e57;
  color: #ffffff
}
.stats-container .stats-content {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 50px 0px;
}
.stats-container .stats-content > div{
  flex: 1;

}
.stats-container .stats-content h3 {
    font-size: 60px;
    font-family: 'Averta';
    font-weight: 100;
}
.stats-container .stats-content span {
    font-family: 'Averta';
    font-size: 19px;
    margin-top: 0px;
    display: block;
    font-weight: 300;
}
.quote_container {
    padding: 6rem 0 5rem 0;
    padding-bottom: 0rem;
}
.quote-content {
    color: #545454;
    margin-bottom: 5.2rem;
}
.quote-content p {
    font-family: 'Averta';
    font-size: 48px;
    font-weight: 300;
    line-height: 56px;
    margin-bottom: 16px;
    margin-top: 32px;
}
.quote-content span {
    font-family: 'Averta';
    font-weight: 200;
    font-size: 15px;
}
.hero-unit {
    padding: 90px 20px 72px 20px;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom right;
}
.quote-content.hero-unit {
    background-image: url(./../img/Hero4.jpg);
    height: 487px;
}
.play-video-box {
    margin-top: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.play-video-box span {
    font-weight: 400;
    margin-left: 13px;
    font-size: 12px;
    text-transform: uppercase;
}
.get-started-container {
    background-color: #0085de;
    padding: 43px 0px;
    color: white;
}
.btn{
  float: none;
  width: auto;
}
.btn-light {
    background-color: white;
    color: #2f87e2;

}
.get-started-container .btn-light{
  font-weight: 700;
}
.get-started-content h5 {
    font-weight: 100;
    font-size: 25px;
    margin-bottom: 15px;
}
.get-started-content span {
    display: block;
    margin-top: 11px;
    font-weight: 100;
    font-size: 14px;
}
.get-started-content span {
    display: block;
    margin-top: 11px;
    font-weight: 100;
    font-size: 12px;
}
.page-wrapper {
    background-color: #3e4e58;
}
.wrapper-inner{
  max-width: 1680px;
  margin: 0 auto;
}
@media (max-width: 62em)
{


.banner-container {
    max-width: 382px;
    margin-left: 34px;
}
.slider .slider-item img {
    width: auto;
    max-width: none;
}
.quote-content p {
    font-size: 30px;
    line-height: 41px;
}
}
@media (max-width: 40em)
{
  .stats-content{
    flex-direction: column;

  }
  .stats-container .stats-content > div {
    margin: 20px 0px;
}
  .banner-container {
      max-width: 100%;
      margin-left: 0px
  }
  .slider .slider-item img {
      width: 100%;
      max-width: none;
  }
  .flex-content {
      display: block;
      padding: 0px 15px;
  }
  .flex-content main {
    margin-bottom: 30px;
  }

}
@media (min-width: 1467px)
{
    .content {
        max-width: 600px;
    }
    .banner-container {
        max-width: 635px;
    }
  .row {
    max-width:1325px;
}
.content p {
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 52px;
}

  .stats-container .stats-content h3 {
    font-size: 80px;
}
.stats-container .stats-content span {
    font-size: 24px;
}
.quote-content p {
    font-size: 55px;
    line-height: 66px;
}
.quote-content span {
    font-size: 18px;
}
.get-started-content h5 {
    font-size: 30px;
    line-height: 66px
}
.play-video-box span {
    margin-left: 16px;
}
.get-started-content span {
    font-size: 16px;
}
.get-started-content .btn-light{
      font-size: 16px;
}
}
